body {
display:flex;
margin: 0;
padding: 0;
  box-shadow:0 0 0 3px red inset;
  box-sizing: border-box;
  font: caption;
  font-size: 50px;
}
/* .flexmodel{
      display: flex;
      
      border: 3px solid black;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
*/

.box-one {
  
  background-color: rgb(240, 106, 106);
}

.box-two {
  border: 5px solid rgb(214, 61, 23);
  background-color: rgb(137, 207, 212);
}
